<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RequirementManagerApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProjectHomeServlet</display-name>
    <servlet-name>ProjectHomeServlet</servlet-name>
    <servlet-class>ProjectHomeServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectHomeServlet</servlet-name>
    <url-pattern>/ProjectHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RequirementServlet</display-name>
    <servlet-name>RequirementServlet</servlet-name>
    <servlet-class>RequirementServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementServlet</servlet-name>
    <url-pattern>/RequirementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RiskServlet</display-name>
    <servlet-name>RiskServlet</servlet-name>
    <servlet-class>RiskServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiskServlet</servlet-name>
    <url-pattern>/RiskServlet</url-pattern>
  </servlet-mapping>
</web-app>