<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ProjectManagement</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        
        <mapping class="project.dao.Manager"/>
        <mapping class="project.dao.Project"/>
        <mapping class="project.dao.Requirement"/>
        <mapping class="project.dao.Effort"/>
        <mapping class="project.dao.Staff"/>
        <mapping class="project.dao.Risk"/>
        <mapping class="project.dao.Role"/>
    </session-factory>
</hibernate-configuration>